node_modules/
dist/
release/
build/
.env*
.DS_Store
*.log
coverage/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.bak
*.tmp
*.cache
*.tsbuildinfo
*.eslintcache
*.prettiercache
*.zip
*.tar.gz
*.tgz